.cards-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
}

.card{
    width: 380px;
    height: 208px;
    background-color: #F9FAFB;
    border-radius: 8px;
    font-family: "Inter", sans-serif;
    padding: 2rem;
    text-align: center;
    position: relative;
}

.card h3{
    font-size: 18px;
    font-weight: 500;
    margin: 1.5rem 0;
}

.card p{
    color: #6B7280;
    font-weight: 400;
}

.card-icon{
    position: absolute;
    top: -20px;
    left: 142px;
}